<div class="button-page">
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Cadastro de usuários'">
        <form>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" class="form-control">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Senha</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" class="form-control">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Perfil</label>
            <div class="col-sm-10">
              <select [(ngModel)]="user.profile" [ngModelOptions]="{standalone: true}" class="form-control">
                <option value="opt1">Selecione um perfil</option>
                <option value="admin">Administrador</option>
                <option value="avaliador">Avaliador</option>
                <option value="responsavel">Responsável pelo ambiente</option>
              </select>
            </div>
          </div>

          <button class="btn btn-primary pull-right no-margin-right" type="submit" (click)="save(user)">Salvar</button>
        </form>
      </app-card>

      <app-card [title]="'Listagem de usuários'">
        <div class="table-responsive">
          <table class="table table--clean">
            <thead>
              <tr>
                <th width="30%">Nome</th>
                <th width="30%">E-mail</th>
                <th width="30%">Perfil</th>
                <th width="10%">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark Marco</td>
                <td>mark@teste.com</td>
                <td>Administrador</td>
                <td>
                  <span class="inline-block">
                    <button class="btn btn-info btn-icon no-margin">
                      <i class="icofont icofont-edit"></i>
                    </button>
                  </span>
                  <span class="inline-block margin-left-10">
                    <button class="btn btn-danger btn-icon no-margin">
                      <i class="icofont icofont-trash"></i>
                    </button>
                  </span>
                </td>
              </tr>
              <tr>
                <td>John Doe</td>
                <td>john@teste.com</td>
                <td>Avaliador</td>
                <td>
                  <span class="inline-block">
                    <button class="btn btn-info btn-icon no-margin">
                      <i class="icofont icofont-edit"></i>
                    </button>
                  </span>
                  <span class="inline-block margin-left-10">
                    <button class="btn btn-danger btn-icon no-margin">
                      <i class="icofont icofont-trash"></i>
                    </button>
                  </span>
                </td>
              </tr>
              <tr>
                <td>Luke trash</td>
                <td>luke@teste.com</td>
                <td>Responsável pelo ambiente</td>
                <td>
                  <span class="inline-block">
                    <button class="btn btn-info btn-icon no-margin">
                      <i class="icofont icofont-edit"></i>
                    </button>
                  </span>
                  <span class="inline-block margin-left-10">
                    <button class="btn btn-danger btn-icon no-margin">
                      <i class="icofont icofont-trash"></i>
                    </button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
    <!-- Bootstrap modal end -->
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>