<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="top-bar primary-top-bar">
  <div class="container-fluid">
    <div>
      <div>
        <div class="left-nav-toggle">
          <a href="#" class="profile-options">
              <i class="fa fa-cog"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-sidebar-nav default-navigation">
  <div>
    <div class="nano-content" tabindex="0" style="right: -17px;">
      <ul class="menu nav flex-column">
        <div class="text-center nav-profile">
          <img alt="Foto de perfil" class="profile-avatar" src="assets/images/icons/avatar.jpg" width="80">
          <p class="lead margin-b-0 toggle-none" style="margin-bottom:0px !important">Guilherme</p>
          <p class="text-muted mv-0 toggle-none">Bem vindo</p>
        </div>
      </ul>

      <ul class="menu-items">
          <li>
            <a href="#">
              <i class=" fa fa-user-circle"></i>
              <span>Usuários</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa fa-bolt"></i>
              <span>Plano de ação</span>
            </a>
          </li>

          <li>
            <a href="#">
              <i class="fa fa-check-square-o"></i>
              <span>Avaliações</span>
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>
