<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="top-bar primary-top-bar">
  <div class="container-fluid">
    <div>
      <div>
        <a class="admin-logo" href="index.html">
          <h1>
          </h1>
        </a>
        <div class="left-nav-toggle">
          <a href="#" class="nav-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <div class="left-nav-collapsed">
          <a href="#" class="nav-collapsed"><i class="fa fa-bars"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main-sidebar-nav default-navigation">
  <div>
    <div class="nano-content" tabindex="0" style="right: -17px;">
      <ul class="menu nav flex-column">
        <div class="card-block border-bottom text-center nav-profile">
          <p class="lead margin-b-0 toggle-none">John Doe</p>
          <p class="text-muted mv-0 toggle-none">Welcome</p>
        </div>
      </ul>

      <ul class="menu-items">
        <li class="teste">
          <a href="#">Avaliações</a>
        </li>
        <li>
          <a href="#">Usuários</a>
        </li>
        <li class="action-plan">
          <a href="#">Plano de Ação</a>
        </li>
      </ul>
    </div>
  </div>
</div>
